@model IEnumerable<Carshops_MVC.CarItem>
@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create" asp-route-officeid="@ViewBag.OfficeId">Add new car</a>
</p>

<!-- Edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Edit</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a asp-action="Edit" asp-route-officeid="@ViewBag.OfficeId" class="btn btn-primary">Save</a>
      </div>
    </div>
  </div>
</div>

<!-- Delete -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Delete</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a asp-action="Delete" asp-route-officeid="@ViewBag.OfficeId" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ItemId)</th>
            <th>@Html.DisplayNameFor(model => model.Brand)</th>
            <th>@Html.DisplayNameFor(model => model.Model)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.StockBalance)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ItemId)</td>
                <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.StockBalance)</td>
                <td>
                    <a asp-action="Edit" asp-route-itemid="@item.ItemId" asp-route-officeid="@ViewBag.OfficeId">Edit</a> |
                    <a asp-action="Delete" asp-route-itemid="@item.ItemId" asp-route-officeid="@ViewBag.OfficeId">Delete</a>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">Edit</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

